In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
Apple = yf.download("AAPL", start ="2010-01-01",end="2021-01-01")

[*********************100%***********************]  1 of 1 completed

In [4]:
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.454505,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.465664,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.362819,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.351058,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.393281,447610800
...,...,...,...,...,...,...
2020-12-24,131.320007,133.460007,131.100006,131.970001,129.189484,54930100
2020-12-28,133.990005,137.339996,133.509995,136.690002,133.810043,124486200
2020-12-29,138.050003,138.789993,134.339996,134.869995,132.028381,121047300
2020-12-30,135.580002,135.990005,133.399994,133.720001,130.902649,96452100
2020-12-31,134.080002,134.740005,131.720001,132.690002,129.894318,99116600

In [6]:
tickers = ["SPY", "AAPL" , "KO"]

In [9]:
stocks = yf.download(tickers, start ="2010-01-01",end="2021-01-01")

[*********************100%***********************]  3 of 3 completed

In [10]:
stocks

Price                       Adj Close                              Close  \
Ticker                           AAPL         KO         SPY        AAPL
Date
2010-01-04 00:00:00+00:00    6.454505  18.085943   86.316010    7.643214
2010-01-05 00:00:00+00:00    6.465664  17.867159   86.544502    7.656429
2010-01-06 00:00:00+00:00    6.362819  17.860821   86.605415    7.534643
2010-01-07 00:00:00+00:00    6.351058  17.816433   86.970978    7.520714
2010-01-08 00:00:00+00:00    6.393281  17.486677   87.260414    7.570714
...                               ...        ...         ...         ...
2020-12-24 00:00:00+00:00  129.189484  47.692463  349.670654  131.970001
2020-12-28 00:00:00+00:00  133.810043  48.335030  352.674561  136.690002
2020-12-29 00:00:00+00:00  132.028381  48.308266  352.001831  134.869995
2020-12-30 00:00:00+00:00  130.902649  48.584919  352.503967  133.720001
2020-12-31 00:00:00+00:00  129.894318  48.941895  354.295013  132.690002

Price                                                   High             \
Ticker                            KO         SPY        AAPL         KO
Date
2010-01-04 00:00:00+00:00  28.520000  113.330002    7.660714  28.610001
2010-01-05 00:00:00+00:00  28.174999  113.629997    7.699643  28.495001
2010-01-06 00:00:00+00:00  28.165001  113.709999    7.686786  28.219999
2010-01-07 00:00:00+00:00  28.094999  114.190002    7.571429  28.184999
2010-01-08 00:00:00+00:00  27.575001  114.570000    7.571429  27.820000
...                              ...         ...         ...        ...
2020-12-24 00:00:00+00:00  53.439999  369.000000  133.460007  53.549999
2020-12-28 00:00:00+00:00  54.160000  372.170013  137.339996  54.439999
2020-12-29 00:00:00+00:00  54.130001  371.459991  138.789993  54.490002
2020-12-30 00:00:00+00:00  54.439999  371.989990  135.990005  54.630001
2020-12-31 00:00:00+00:00  54.840000  373.880005  134.740005  54.930000

Price                                         Low                         \
Ticker                            SPY        AAPL         KO         SPY
Date
2010-01-04 00:00:00+00:00  113.389999    7.585000  28.450001  111.510002
2010-01-05 00:00:00+00:00  113.680000    7.616071  28.070000  112.849998
2010-01-06 00:00:00+00:00  113.989998    7.526786  27.990000  113.430000
2010-01-07 00:00:00+00:00  114.330002    7.466071  27.875000  113.180000
2010-01-08 00:00:00+00:00  114.620003    7.466429  27.375000  113.660004
...                               ...         ...        ...         ...
2020-12-24 00:00:00+00:00  369.029999  131.100006  53.020000  367.450012
2020-12-28 00:00:00+00:00  372.589996  133.509995  53.730000  371.070007
2020-12-29 00:00:00+00:00  374.000000  134.339996  54.020000  370.829987
2020-12-30 00:00:00+00:00  373.100006  133.399994  54.029999  371.570007
2020-12-31 00:00:00+00:00  374.660004  131.720001  54.270000  371.230011

Price                            Open                            Volume  \
Ticker                           AAPL         KO         SPY       AAPL
Date
2010-01-04 00:00:00+00:00    7.622500  28.580000  112.370003  493729600
2010-01-05 00:00:00+00:00    7.664286  28.424999  113.260002  601904800
2010-01-06 00:00:00+00:00    7.656429  28.174999  113.519997  552160000
2010-01-07 00:00:00+00:00    7.562500  28.165001  113.500000  477131200
2010-01-08 00:00:00+00:00    7.510714  27.730000  113.889999  447610800
...                               ...        ...         ...        ...
2020-12-24 00:00:00+00:00  131.320007  53.020000  368.079987   54930100
2020-12-28 00:00:00+00:00  133.990005  53.849998  371.739990  124486200
2020-12-29 00:00:00+00:00  138.050003  54.450001  373.809998  121047300
2020-12-30 00:00:00+00:00  135.580002  54.049999  372.339996   96452100
2020-12-31 00:00:00+00:00  134.080002  54.450001  371.779999   99116600

Price
Ticker                           KO        SPY
Date
2010-01-04 00:00:00+00:00  13870400  118944600
2010-01-05 00:00:00+00:00  23172400  111579900
2010-01-06 00:00:00+00:00  19264600  116074400
2010-01-07 00:00:00+00:00  13234600  131091100
2010-01-08 00:00:00+00:00  28712400  126402800
...                             ...        ...
2020-12-24 00:00:00+00:00   3265500   26457900
2020-12-28 00:00:00+00:00   9020500   39000400
2020-12-29 00:00:00+00:00   8320600   53680500
2020-12-30 00:00:00+00:00   8142700   49455300
2020-12-31 00:00:00+00:00   8495000   78520700

[2769 rows x 18 columns]

In [11]:
stocks.head()

Price                     Adj Close                           Close  \
Ticker                         AAPL         KO        SPY      AAPL
Date
2010-01-04 00:00:00+00:00  6.454505  18.085943  86.316010  7.643214
2010-01-05 00:00:00+00:00  6.465664  17.867159  86.544502  7.656429
2010-01-06 00:00:00+00:00  6.362819  17.860821  86.605415  7.534643
2010-01-07 00:00:00+00:00  6.351058  17.816433  86.970978  7.520714
2010-01-08 00:00:00+00:00  6.393281  17.486677  87.260414  7.570714

Price                                                 High             \
Ticker                            KO         SPY      AAPL         KO
Date
2010-01-04 00:00:00+00:00  28.520000  113.330002  7.660714  28.610001
2010-01-05 00:00:00+00:00  28.174999  113.629997  7.699643  28.495001
2010-01-06 00:00:00+00:00  28.165001  113.709999  7.686786  28.219999
2010-01-07 00:00:00+00:00  28.094999  114.190002  7.571429  28.184999
2010-01-08 00:00:00+00:00  27.575001  114.570000  7.571429  27.820000

Price                                       Low                         \
Ticker                            SPY      AAPL         KO         SPY
Date
2010-01-04 00:00:00+00:00  113.389999  7.585000  28.450001  111.510002
2010-01-05 00:00:00+00:00  113.680000  7.616071  28.070000  112.849998
2010-01-06 00:00:00+00:00  113.989998  7.526786  27.990000  113.430000
2010-01-07 00:00:00+00:00  114.330002  7.466071  27.875000  113.180000
2010-01-08 00:00:00+00:00  114.620003  7.466429  27.375000  113.660004

Price                          Open                            Volume  \
Ticker                         AAPL         KO         SPY       AAPL
Date
2010-01-04 00:00:00+00:00  7.622500  28.580000  112.370003  493729600
2010-01-05 00:00:00+00:00  7.664286  28.424999  113.260002  601904800
2010-01-06 00:00:00+00:00  7.656429  28.174999  113.519997  552160000
2010-01-07 00:00:00+00:00  7.562500  28.165001  113.500000  477131200
2010-01-08 00:00:00+00:00  7.510714  27.730000  113.889999  447610800

Price
Ticker                           KO        SPY
Date
2010-01-04 00:00:00+00:00  13870400  118944600
2010-01-05 00:00:00+00:00  23172400  111579900
2010-01-06 00:00:00+00:00  19264600  116074400
2010-01-07 00:00:00+00:00  13234600  131091100
2010-01-08 00:00:00+00:00  28712400  126402800

In [12]:
stocks.tail()

Price                       Adj Close                              Close  \
Ticker                           AAPL         KO         SPY        AAPL
Date
2020-12-24 00:00:00+00:00  129.189484  47.692463  349.670654  131.970001
2020-12-28 00:00:00+00:00  133.810043  48.335030  352.674561  136.690002
2020-12-29 00:00:00+00:00  132.028381  48.308266  352.001831  134.869995
2020-12-30 00:00:00+00:00  130.902649  48.584919  352.503967  133.720001
2020-12-31 00:00:00+00:00  129.894318  48.941895  354.295013  132.690002

Price                                                   High             \
Ticker                            KO         SPY        AAPL         KO
Date
2020-12-24 00:00:00+00:00  53.439999  369.000000  133.460007  53.549999
2020-12-28 00:00:00+00:00  54.160000  372.170013  137.339996  54.439999
2020-12-29 00:00:00+00:00  54.130001  371.459991  138.789993  54.490002
2020-12-30 00:00:00+00:00  54.439999  371.989990  135.990005  54.630001
2020-12-31 00:00:00+00:00  54.840000  373.880005  134.740005  54.930000

Price                                         Low                         \
Ticker                            SPY        AAPL         KO         SPY
Date
2020-12-24 00:00:00+00:00  369.029999  131.100006  53.020000  367.450012
2020-12-28 00:00:00+00:00  372.589996  133.509995  53.730000  371.070007
2020-12-29 00:00:00+00:00  374.000000  134.339996  54.020000  370.829987
2020-12-30 00:00:00+00:00  373.100006  133.399994  54.029999  371.570007
2020-12-31 00:00:00+00:00  374.660004  131.720001  54.270000  371.230011

Price                            Open                            Volume  \
Ticker                           AAPL         KO         SPY       AAPL
Date
2020-12-24 00:00:00+00:00  131.320007  53.020000  368.079987   54930100
2020-12-28 00:00:00+00:00  133.990005  53.849998  371.739990  124486200
2020-12-29 00:00:00+00:00  138.050003  54.450001  373.809998  121047300
2020-12-30 00:00:00+00:00  135.580002  54.049999  372.339996   96452100
2020-12-31 00:00:00+00:00  134.080002  54.450001  371.779999   99116600

Price
Ticker                          KO       SPY
Date
2020-12-24 00:00:00+00:00  3265500  26457900
2020-12-28 00:00:00+00:00  9020500  39000400
2020-12-29 00:00:00+00:00  8320600  53680500
2020-12-30 00:00:00+00:00  8142700  49455300
2020-12-31 00:00:00+00:00  8495000  78520700

In [13]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2769 entries, 2010-01-04 00:00:00+00:00 to 2020-12-31 00:00:00+00:00
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2769 non-null   float64
 1   (Adj Close, KO)    2769 non-null   float64
 2   (Adj Close, SPY)   2769 non-null   float64
 3   (Close, AAPL)      2769 non-null   float64
 4   (Close, KO)        2769 non-null   float64
 5   (Close, SPY)       2769 non-null   float64
 6   (High, AAPL)       2769 non-null   float64
 7   (High, KO)         2769 non-null   float64
 8   (High, SPY)        2769 non-null   float64
 9   (Low, AAPL)        2769 non-null   float64
 10  (Low, KO)          2769 non-null   float64
 11  (Low, SPY)         2769 non-null   float64
 12  (Open, AAPL)       2769 non-null   float64
 13  (Open, KO)         2769 non-null   float64
 14  (Open, SPY)        2769 non-null   float64
 15  (Volume, AAPL)     2769 non-null   int64
 16  (Volume, KO)       2769 non-null   int64
 17  (Volume, SPY)      2769 non-null   int64
dtypes: float64(15), int64(3)
memory usage: 411.0 KB

In [18]:
#convert multi index to 1 tupple
stocks.columns = stocks.columns.to_flat_index()

In [19]:
stocks.columns

Index([('Adj Close', 'AAPL'),   ('Adj Close', 'KO'),  ('Adj Close', 'SPY'),
           ('Close', 'AAPL'),       ('Close', 'KO'),      ('Close', 'SPY'),
            ('High', 'AAPL'),        ('High', 'KO'),       ('High', 'SPY'),
             ('Low', 'AAPL'),         ('Low', 'KO'),        ('Low', 'SPY'),
            ('Open', 'AAPL'),        ('Open', 'KO'),       ('Open', 'SPY'),
          ('Volume', 'AAPL'),      ('Volume', 'KO'),     ('Volume', 'SPY')],
      dtype='object')